.align-right {float: right;}
body {
    margin: 0;
    padding: 0;
    /* Set image as background */
    background-image: url('/html-bri/img/bg1.jpg');
    /* Adjust background size to cover the whole screen */
    background-size:cover;
    /* Center the background image */
    background-position: center;
    /* Fixed background position so it doesn't move on scroll */
    background-attachment:scroll;
    /* Add some styles to fill the whole screen */
    height:0%;
    overflow:auto;
    
}

/* Optional: Add styles to content */
.content {
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
.card {
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
            transition: 0.9s ease-in-out;           
        }
    } 
   
    .card:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }


.card img {
            width: 100%; 
            height: 100%;
        }
  

footer {
    background-color: #040c30; 
    color: #fff6f6;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;    
}
.bottom-text {
    position: absolute;
    bottom: 0;
    width: 0;s
}
